body{
	/*background:black;*/
}
table{
	border-collapse:collapse;
	/*border:1px solid red;*/
	letter-spacing:1px;
	font-size:1.2em;
}

tr,td{
	background-color: rgba(111,12,34,0.2);
	display:block;
	border:3px solid gray;
	padding:2px;
	margin:2px 10px;
	border-radius:10px;
}